.button
{
    -fx-background-color :  #EBE8F9;
    -fx-text-fill : black
;
}
.button:hover{
    -fx-background-color : #BDBBC3

;
}
.button:pressed
{
    -fx-background-color : #EBE8F9;
}

.scroll-pane {
    -fx-background-color: #EBE8F9;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #ffc3cd;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: #ffc3cd;
}